<div class="jumbotron" ng-controller="DonHangController">
	<div class="row">
		<div class="col-sm-7">
			<div class="panel panel-default">
				<div class="panel-heading"><h4><label>Ðơn Hàng</label></h4></div>
				<div class="panel-body" style="height: 500px; overflow-y: auto;">
					<div class="container">
						<form class="form-inline" role="form" id="searchForm">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<label>Tìm Kiếm :</label> <input type="text"
											class="form-control" name="searchField"
											ng-model="searchField" value="">
									</div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6 text-right">
									<div class="form-group">
										<button class="btn btn-success" type="button" id="resetButton"
											class="btn btn-info btn-lg" data-toggle="modal"
											data-target="#modalTaoDonHang" ng-click="">Tạo Mới</button>
									</div>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6 text-left">

									<label>Loại đơn hàng : </label> <select class="form-control"
										ng-model="selectedCustomer" ng-change="">
										<option value="inprocess" selected>Mua Hàng</option>
										<option value="done" selected>Bán Hàng</option>
										<option value="done" selected>Xuất Nguyên Liệu</option>
										<option value="done" selected>Nhập Thành Phẩm</option>
									</select>

								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 text-left">

									<label>Trạng thái : </label> <select class="form-control"
										ng-model="selectedCustomer" ng-change="">
										<option value="inprocess" selected>ĐANG NHẬP</option>
										<option value="done" selected>HOÀN THÀNH</option>
										<option value="done" selected>ĐÃ NHẬP KHO</option>
										<option value="done" selected>ĐÃ NHẬP HÓA ĐƠN</option>
									</select>

								</div>

							</div>
						</form>
					</div>
					<br />
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th class="text-center">Số Ðơn Hàng</th>
									<th class="text-center">Ngày Lập</th>
									<th class="text-center">Người Lập</th>
									<th class="text-center">Trạng Thái</th>
									<th class="text-center">Ghi Chú</th>
									<th class="text-center"></th>

								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td>1</td>
									<td>9</td>
									<td>01-01-2016</td>
									<td>Nguyễn Văn Abc efg</td>
									<td>ÐANG NHẬP</td>
									<td class="crop" data-toggle="tooltip"
										title="Hooray! Ðon hàng này du?c d?t chodgasdahsdfasasd">Ðon
										hàng này du?c d?t cho</td>
									<td class="text-center"><span
										class="glyphicon glyphicon-remove"></span></td>
								</tr>



							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading"><h4><label>Chi Tiết Ðơn Hàng</label></h4></div>
				<div class="panel-body text-left"
					style="height: 500px; overflow-y: auto;">
					<div class="container">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Số đơn hàng : </label>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 text-left"><a href="#" data-toggle="modal" data-target="#modalSuaDonHang"> 2769</a></div>
							<div class="col-xs-5 col-sm-5 col-md-5 text-left">
								<a><span class="glyphicon glyphicon-download-alt"></span>
									tải đơn hàng</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Số phiếu nhập/xuất kho : </label>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 text-left">
								<a href="#" data-toggle="modal" data-target="#modalNhapKhoChoDonHang"> tạo phiếu</a>
							</div>
							<div class="col-xs-5 col-sm-5 col-md-5 text-left">
								<a><span class="glyphicon glyphicon-download-alt"></span>
									tải phiếu nhập/xuất hàng</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Mua Từ đối tác : </label>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 text-left">9</div>

						</div>
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Đối tác đặt hàng : </label>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 text-left">9</div>

						</div>


						<div class="row">

							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Loại :</label>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 text-left">Mua Hàng</div>
						</div>

						<div class="row">
							<div class="panel panel-primary">
								<div class="panel-heading">Panel with panel-primary class</div>
								<div class="panel-body" style="height: 275px; overflow-y: auto">
									<div class="row">

										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>Mã Hàng Hóa</th>
													<th>Tên Hàng Hóa</th>
													<th>SL</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input class="form-control" type="text" value="10"
														width="10%"></td>
													<td><span class="glyphicon glyphicon-remove"></span></td>
												</tr>
											</tbody>
										</table>
									</div>


								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div ng-include="'app/nghiepvu/views/modalTaoDonHang.html'"></div>
	<div ng-include="'app/nghiepvu/views/modalSuaDonHang.html'"></div>
	<div ng-include="'app/nghiepvu/views/modalNhapKhoChoDonHang.html'"></div>
</div>



