<div class="container">
	<div id="modalNhapKhoChoDonHang" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Nhập Kho Cho Đơn Hàng : 9</h4>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-xs-2 col-sm-2 col-md-2 text-left">

								<label>Trạng Thái</label>

							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 text-left">

								<select class="form-control" ng-model="selectedCustomer"
									ng-change="">
									<option value="inprocess" selected>Ðang Nhập</option>
									<option value="done" selected>Hoàn tất</option>

								</select>

							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-xs-2 col-sm-2 col-md-2 text-left">

								<label>Ghi chú</label>

							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 text-left">

								<textarea class="form-control" rows="3" cols="70" id="comment"></textarea>

							</div>
						</div>

						<br />
						<div class="row">
							<div class="panel panel-primary">
								<div class="panel-heading">Panel with panel-primary class</div>
								<div class="panel-body" style="height: 250px; overflow-y: auto">
									<div class="row">

										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>Mã Hàng Hóa</th>
													<th>Tên Hàng Hóa</th>
													<th>SL</th>
													<th>Serial Number</th>
													<th>Nhập SN</th>
													<th nowrap="nowrap">Product Name</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>SSJGSH-dsysgdysd</td>
													<td>dây cáp máy tính , lap top</td>
													<td><input readonly="readonly" class="form-control"
														type="text" value="10" width="10%"></td>
													<td>

														<div class="panel panel-default">
															<div class="panel-body" style="width: 300px; height: 100px; overflow: auto">
																<span class="label label-primary">Primary Label <a
																	class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span> &ensp; <span class="label label-primary">Primary
																	Label <a class="text-danger" href="#"><span
																		class="glyphicon glyphicon-remove"></span></a>

																</span>
															</div>
														</div>

													</td>
													<td><textarea class="form-control" rows="5" cols="100"
															id="comment"></textarea> <a href="#"><span
															class="glyphicon glyphicon-remove"></span> Lưu </a></td>
													<td><input class="form-control" type="text" value="10"
														min="50"></td>
												</tr>

											</tbody>
										</table>
									</div>


								</div>
							</div>
						</div>
						<div class="row">
							<button class="btn btn-success" type="button" id="resetButton"
								ng-click="">Lưu</button>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>