<div class="ix_loginform" ng-controller="UserController">
	<form id="loginForm" method="post" class="form-login" action="/signin">

		<div class="form-group">
			<label class="sr" for="username">Tài khoản </label> <input
				id="username" type="text" class="form-control" ng-model="username"
				required />
		</div>
		<label class="sr" for="inputPassword">Mật khẩu</label> <input
			id="inputPassword" type="password" class="form-control"
			ng-model="password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit"
			name="login">Đăng nhập</button>

	</form>
</div>
