<div class="jumbotron" ng-controller="VatTuHangHoaController">
	<div class="row">
		<div class="col-sm-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<label>Vật Tư</label>
					</h4>
				</div>
				<div class="panel-body" style="height: 550px; overflow-y: auto;">
					<div class="container">
						<form class="form-inline" role="form" id="searchForm">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<label>Tìm Kiếm :</label> <input type="text"
											class="form-control" name="searchField"
											ng-model="searchField" value="">
									</div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6 text-left">

									<label>Loại hàng hóa : </label> <select class="form-control"
										ng-model="selectedCustomer" ng-change="">
										<option value="inprocess" selected>Có serial number</option>
										<option value="done" selected>Không có serial number</option>
										<option value="done" selected>Dịch Vụ</option>
										<option value="done" selected>Key Bản Quyền</option>
									</select>
								</div>
							</div>

						</form>
					</div>
					<br />
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th class="text-center">Tên ngắn</th>
									<th class="text-center">Tên đầy đủ</th>
									<th class="text-center">Loại</th>
									<th class="text-center">ĐVT</th>
									<th class="text-center">Ghi Chú</th>
									<th class="text-center"></th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td>1</td>
									<td>lap top dell</td>
									<td>lap top dell gi go</td>
									<td>Có serial number</td>
									<td>cái</td>
									<td class="crop" data-toggle="tooltip"
										title="Hooray! Ðon hàng này du?c d?t chodgasdahsdfasasd">Ðon
										hàng này du?c d?t cho</td>
									<td class="text-center"><span
										class="glyphicon glyphicon-remove"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<label>Chi Tiết Hàng Hóa</label>
					</h4>
				</div>
				<div class="panel-body text-left"
					style="height: 550px; overflow-y: auto;">
					<div class="container">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Tên ngắn : </label>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 text-left">
								<input type="text" width="100%" class="form-control">
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Tên đầy đủ : </label>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 text-left">
								<input type="text" width="100%" class="form-control">
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Loại : </label>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 text-left">

								<select class="selectpicker" data-live-search="true"
									data-width="100%">
									<option value="inprocess" selected>Dell Monitor</option>
									<option value="done" selected>Hoàn tất</option>
									<option value="done" selected>Hoàn tất</option>
									<option value="done" selected>Hoàn tất</option>
									<option value="done" selected>Hoàn tất</option>
								</select>
							</div>

						</div>
						<br />
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Đơn vị tính : </label>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 text-left">
								<input type="text" width="100%" class="form-control">
							</div>

						</div>
						<br />
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 text-left">
								<label>Ghi chú :</label>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 text-left">
								<textarea class="form-control" rows="3" cols="70" id="comment"></textarea>
							</div>

						</div>
						<br />
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 text-right">
								<button class="btn btn-success" type="button" id="resetButton"
									class="btn btn-info btn-lg" data-toggle="modal"
									data-target="#modalNhapKhoChoDonHang" ng-click="">Lưu
									lại</button>
							</div>

						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 text-left">
								<h4>
									<label>Tải file vật tư hàng hóa</label>
								</h4>
							</div>

						</div>
						<div class="row">
							<form method="POST" enctype="multipart/form-data">
								<div class="col-xs-3 col-sm-3 col-md-3 text-left">File to
									upload:</div>
								<div class="col-xs-6 col-sm-6 col-md-6 text-left">
									<input type="file" file-model= "myFile" class="form-control" />
									
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 text-left">
								<button class="btn btn-success" type="button" id="resetButton"
									class="btn btn-info btn-lg"  ng-click="uploadFile()">Tải lên</button>
								</div>
								
							</form>
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>



